.facture-container p,
.facture-container h6,
.facture-container h5,
.facture-container h4,
.facture-container h3 {
  font-family: "Roboto", sans-serif;
}

.facture-container a {
  color: #0e7aea;
  text-decoration: none;
}
.facture-container h6 {
  color: #9aa3ab;
  font-weight: 300;
  line-height: 15px;
}
.facture-container h5 {
  color: #99a1aa;
  font-weight: 300;
}
.facture-container h4 {
  font-weight: 300;
  font-size: 13px;
  color: #97a2ad;
}
.facture-container h3 {
  color: #58636a;
  font-weight: 500;
}
.facture-container {
  width: 50%;
  height: 40%;
  min-width: 636px;
  min-height: 456px;
  margin: auto;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
  -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
  box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
}
.facture-left {
  background-color: #1882ef;
  width: 39%;
  height: 457px;
  border-radius: 5px 0 0 5px;
  float: left;
  color: #ffffff;
}
.facture-info-box {
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
}
.facture-receipt {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3895f4;
  height: 15%;
  > span {
    font-weight: 500;
    font-size: 21px;
  }
}
.facture-entry {
  border-bottom: 1px solid #3895f4;
  height: 15%;
  overflow: hidden;
  padding-top: 15px;
  > p {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    margin-top: 0px !important;
    float: left;
  }
  > i {
    margin-top: 4px;
    margin-right: 13px;
    float: left;
    color: #b4d8fc;
  }
  &:last-child {
    border-bottom: none;
  }
}
.facture-container span {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.facture-right {
  background-color: #fefefe;
  width: 61%;
  height: 100%;
  float: left;
  border-radius: 0 5px 5px 0;
}
.facture-content {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.facture-header {
  overflow: hidden;
  border-bottom: 1px solid #d7e2e7;
  height: 50px;
  > img {
    width: 100px;
    float: left;
  }
  > h4 {
    text-align: right;
    margin-top: 10px;
  }
}
.facture-main {
  margin-top: 35px;
}
.facture-message {
  margin-top: 40px;
  > p {
    font-weight: 300;
    font-size: 15px;
    color: #7a838d;
    line-height: 30px;
  }
  > h6 {
    margin-top: 10px;
  }
}
.facture-footer {
  overflow: hidden;
  border-top: 1px solid #d7e2e7;
  margin-top: 40px;
  padding-top: 30px;
  > a {
    font-size: 13px;
    font-weight: 500;
    float: left;
  }
  > h6 {
    color: #7a838d;
    text-align: right;
    margin-top: 0px !important;
  }
}
